@media screen and (max-width:767px){


    body{
        overflow-x: hidden;
    }
    header{
        display: none;
    }
    .grow_banner{
        height: 100vh;
    }
   .grow_B_inner .grow_B_top .grow_B_text {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 5rem;
    }
    .grow1{
        padding: 100px 0 100px;
    }
    .grow_B_inner .grow_B_top .grow_B_sub{
        font-size: 20px;
        margin-top: 2rem;
    }
    .grow1_inner .grow1_title{
        text-align: center;
        font-size: 24px;
        padding: 0px 10px 100px 0px;
        
    }
    .grow1_box{
        width: 100%;
        flex-direction: column;
       align-items: center;
        
    }

    
    
    .grow1_right{
        width: 100%;
        padding: 50px 10px;
    }

    .grow2_inner .grow2_titleBox .grow2_title{
        font-size: 50px;
    }

    .grow2_inner .grow2_box .grow2_introTitle{
        font-size: 30px;
        text-align: center;
        padding-top: 50px;
    }
    .grow2_fade.a{
        width: 100%;
        display: flex;
    }
    .grow1_left .grow1_photo img{
        width: 100%;
        
    }
    .grow2_inner .grow2_box .grow2_photo{
        width: 70%;
    
    }
    .grow1_left {width:100%;}
    .grow1_right .grow1_card{
        display: flex;
        width: 45%;
    }

    .grow2_inner .grow2_box ul{
        text-align: center;
        padding: 50px 0;
       
    }
}